{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Collector</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script defer src="{% static 'scripts/materialbox.js' %}"></script>
    <link rel="stylesheet" href={% static 'styles/main.css'%}/>
    <link href='https://fonts.googleapis.com/css?family=Indie Flower' rel='stylesheet'>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <ul>
              <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Flower Collector</a></li>
            </ul>
            <ul class="right">
              <li><a class="nav-link" href="{% url 'about'%}">About</a></li>
              <li><a class="nav-link" href="{% url 'flower_create'%}">Add Flower</a></li>
              <li><a class="nav-link" href="{% url 'location_create'%}">Add Location</a></li>
              <li><a class="nav-link" href="{% url 'index'%}">Flowers</a></li>
              <li><a class="nav-link" href="{% url 'location_index'%}">Locations</a></li>
            </ul>
          </div>
        </nav>
      </header>

<main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2023 Louis Pino &nbsp;</div>
  </footer>
</body>
</html>